{{ ansible_managed|comment }}

# interfaces(5) file used by ifup(8) and ifdown(8) 

# Please note that this file is written to be used with dhcpcd
# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

allow-hotplug eth0
iface eth0 inet static
	address {{ init_target_static_address }}
	netmask {{ networking__netmask_address }}
	gateway {{ networking__gateway_address }}
